{% extends "layout.html" %}

{% block contentrow1col1 %}

{% if session.username and session.role == 'admin' %}

<H1>Welcome admin!</H1>
<H3>Your quizzes</H3>

{% for quiz_label, quiz in dict_quizzes.items() %}
    <h4>Name: {{ quiz_label }}</h4>
    <p>Published: {{ quiz.published }}</p>
    <a class="btn btn-primary" href="/adminquiz/{{ quiz.quiz_id }}" role="button">Publish quiz</a>

    {% for question_label, question in quiz.questions.items() %}
        <p>Question: {{ question_label }}</p>

        <ul>
        {% for option in question.options %}
            <li>
            Option: {{ option.option_label }}
            Correct option: {{ option.correct_option }}
            </li>
        {% endfor %}
        </ul>

    {% endfor %}

{% endfor %}

<H3>Stats of your quizzes: how many users, results</H3>
Stats stats stats<br>
<a class="btn btn-primary" href="/newquiz" role="button">Create new quiz</a>
<a class="btn btn-danger" href="/accountremoved" role="button">Remove your account</a>

{% else %}

<a class="btn btn-primary" href="/login" role="button">Login</a>

{% endif %}


{% endblock %}