{% extends "layout.html" %}

{% block contentrow1col1 %}
<H1>Welcome admin!</H1>
<H3>Your quizzes</H3>

{% for quiz in list_quizzes %}

<h4>Name: {{ quiz.quiz_label }}</h4>
<p>Published: {{ quiz.published }}</p>
<p>Question: {{ quiz.question_label }}</p>
<p>Option: {{ quiz.option_label }}</p>
<p>Correct option: {{ quiz.correct_option }}</p>

{% endfor %}

<H3>Stats of your quizzes: how many users, results</H3>
Stats stats stats<br>
<a class="btn btn-primary" href="/newquiz" role="button">Create new quiz</a>
<a class="btn btn-danger" href="/accountremoved" role="button">Remove your account</a>


{% endblock %}