{% extends "layout.html" %}

{% block contentrow1col1 %}

{% if session.username and session.role == 'admin' %}

<H1>Welcome admin!</H1>

<H2>Your quizzes</H2>

{% if not dict_quizzes %}

<p>{{ message }}</p>
<p><a class="btn btn-primary" href="/newquiz" role="button">Create new quiz</a></p>

{% else %}

<p><a class="btn btn-primary" href="/newquiz" role="button">Create new quiz</a></p>

{% for quiz_label, quiz in dict_quizzes.items() %}
    <h4>Name: {{ quiz_label }}</h4>
    <H6>Published: {{ quiz.published }}</h6>
    <h6>Published at: {{ quiz.published_at }}</h6>

    {% for question_label, question in quiz.questions.items() %}
        <p>Question: {{ question_label }}</p>

        <ul>
        {% for option in question.options %}
            <li>
            <p>Option: {{ option.option_label }} ({{ option.correct_option }})</p>
            </li>
        {% endfor %}
        </ul>

    {% endfor %}
    <p><a class="btn btn-primary" href="/adminquiz/{{ quiz.quiz_id }}" role="button">Set correct options and publish quiz</a></p>
    

{% endfor %}

{% endif %}

{% else %}
<p><a class="btn btn-primary" href="/login" role="button">Login</a></p>


{% endif %}


{% endblock %}

{% block contentrow1col2 %}

<h1>Stats</h1>

<H2>Your quizzes played</H2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Quiz name</th>
        <th scope="col">Played</th>
      </tr>
    </thead>
    <tbody>
      {% for row in own_quizzes %}
      <tr>
        <td>{{ row.quiz_label }}</td>
        <td>{{ row.played_quizzes_count / 5}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<H2>Your quizzes correct answers</H2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Quiz name</th>
        <th scope="col">Correct answers</th>
        <th scope="col">All answers</th>
    </tr>
    </thead>
    <tbody>
    {% for row in own_quizzes_canswers %}
    {% for row2 in own_quizzes_answers %}
    <tr>
        <td>{{ row.quiz_label }}</td>
        <td>{{ row.correct_answer_count}}</td>
        <td>{{ row2.all_answer_count}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    </tbody>
</table>

<H2>Quizzes played by you</H2>

{% if not correct_answers %}



<H3>Correct answers</H3>

<div class="alert alert-primary" role="alert">
    Your all time correct answers: {{ message2 }}
</div>

{% else %}

<H3>Correct answers</H3>

<div class="alert alert-primary" role="alert">
    Your all time correct answers: {{ correct_answers[0][1] }}
</div>

{% endif %}

{% if not correct_answers %}

<H3>Played quizzes</H3>

<div class="alert alert-primary" role="alert">
    Your all time played quizzes: {{ message2 }}
</div>

{% else %}

<H3>Played quizzes</H3>

<div class="alert alert-primary" role="alert">
    Your all time played quizzes: {{ played_quizzes[0][1] }}
</div>

{% endif %}

<H2>Settings</H2>

<form action="/accountremoved" method="POST">
    <input type="hidden" id="userremove", name="userremove", value="True">
    <button type="submit" class="btn btn-danger">Remove your account</button>
</form>

{% endblock %}

