{% extends "layout.html" %}

{% block title %}Welcome!{% endblock %}

{% block contentrow1col1 %}
<H1>Music Quiz</H1>
<H3>Quiz1</H3>
<a class="btn btn-primary" href="/quiz" role="button">Play</a>
<br>
<H3>Quiz2</H3>
<a class="btn btn-primary" href="/quiz" role="button">Play</a>
<br>
<H3>Quiz3</H3>
<a class="btn btn-primary" href="/quiz" role="button">Play</a>


{% endblock %}

{% block contentrow1col2 %}
Stats stats stats
{% endblock %}

{% block contentrow2col1 %}
Music2 music2 music2
{% endblock %}

{% block contentrow2col2 %}
Stats2 stats2 stats2
{% endblock %}