{% extends "layout.html" %}

{% block title %}Welcome!{% endblock %}

{% block contentloggedin%}You're logged in as {{ username }}{% endblock %}

{% block contentrow1col1 %}
<H1>Music Quizzes</H1>

{% for quiz in published_quizzes %}
            
    <H3>{{ quiz.quiz_label }}</H3>
    <h6>Created by: {{ quiz.created_by }}</h6>

    <p><a class="btn btn-primary" href="/quiz/{{ quiz.id }}" role="button">Play</a></p>
            
{% endfor %}


{% endblock %}

{% block contentrow1col2 %}
Stats stats stats
{% endblock %}

{% block contentrow2col1 %}
Music2 music2 music2
{% endblock %}

{% block contentrow2col2 %}
Stats2 stats2 stats2
{% endblock %}