{% extends "layout.html" %}

{% block title %}Welcome!{% endblock %}

{% block contentloggedin%}You're logged in as {{ username }}{% endblock %}

{% block contentrow1col1 %}
<H1>Music Quizzes</H1>

{% for quiz in published_quizzes %}
            
    <H3>{{ quiz.quiz_label }}</H3>
    <h6>Created by: {{ quiz.created_by }}</h6>

    {% if session.username == quiz.created_by %}

    <p><a class="btn btn-primary disabled" href="/quiz/{{ quiz.id }}" role="button" aria-disabled="true">Play</a></p>

    {% else %}

    <p><a class="btn btn-primary" href="/quiz/{{ quiz.id }}" role="button">Play</a></p>

    {% endif %}
            
{% endfor %}


{% endblock %}

{% block contentrow1col2 %}
<h1>Leaderboard</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Correct answers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ leaderboard[0][2] }}</th>
        <td>{{ leaderboard[0][0] }}</td>
        <td>{{ leaderboard[0][1] }}</td>
      </tr>
      <tr>
        <th scope="row">{{ leaderboard[1][2] }}</th>
        <td>{{ leaderboard[1][0] }}</td>
        <td>{{ leaderboard[1][1] }}</td>
      </tr>
      <tr>
        <th scope="row">{{ leaderboard[2][2] }}</th>
        <td>{{ leaderboard[2][0] }}</td>
        <td>{{ leaderboard[2][1] }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block contentrow2col1 %}
Music2 music2 music2
{% endblock %}

{% block contentrow2col2 %}
Stats2 stats2 stats2
{% endblock %}