{% extends "layout.html" %}

{% block title %}Result{% endblock %}

{% block contentrow1col1 %}
<H1>Result</H1>

{% if correct_answers == 0 %}
<p>What just happened? Perhaps the questions just were bad. </p>
<p>You got {{ correct_answers }} / 5 answers correct</p>
<p>{{ message }}</p>
{% endif %}

{% if correct_answers == 1 %}
<p>Did you skip your music lessons?</p>
<p>You got {{ correct_answers }} / 5 answers correct</p>
<p>{{ message }}</p>
{% endif %}

{% if correct_answers == 2 %}
<p>You need more practice, better start finding your recorder.</p>
<p>You got {{ correct_answers }} / 5 answers correct</p>
<p>{{ message }}</p>
{% endif %}

{% if correct_answers == 3 %}
<p>That's a nice result, you have read your Rolling Stones.</p>
<p>You got {{ correct_answers }} / 5 answers correct</p>
<p>{{ message }}</p>
{% endif %}

{% if correct_answers == 4 %}
<p>Fabulous! Almost a virtuoso.</p>
<p>You got {{ correct_answers }} / 5 answers correct</p>
<p>{{ message }}</p>
{% endif %}

{% if correct_answers == 5 %}
<p>Amazing! You must be the composer of Eine kleine Nachtmusik.</p>
<p>You got {{ correct_answers }} / 5 answers correct</p>
<p>{{ message }}</p>
{% endif %}

<H3>Your answers</H3>
<p>Question1: {{ answers[0] }}</p>
<p>Question2: {{ answers[1] }}</p>
<p>Question3: {{ answers[2] }}</p>
<p>Question4: {{ answers[3] }}</p>
<p>Question5: {{ answers[4] }}</p>

<H3>Correct answers</H3>
<p>Question1: {{ correct_answer1 }}</p>
<p>Question2: {{ correct_answer2 }}</p>
<p>Question3: {{ correct_answer3 }}</p>
<p>Question4: {{ correct_answer4 }}</p>
<p>Question5: {{ correct_answer5 }}</p>

<a class="btn btn-primary" href="/" role="button">Play more quizzes</a>


{% endblock %}

{% block contentrow1col2 %}
<h1>Leaderboard</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Correct answers</th>
      </tr>
    </thead>
    <tbody>
      {% for row in leaderboard %}
      <tr>
        <th scope="row">{{ row.rank }}</th>
        <td>{{ row.username }}</td>
        <td>{{ row.correct_answer_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

{% endblock %}

