{% extends "layout.html" %}

{% block title %}Quiz{% endblock %}

{% block contentrow1col1 %}
<H1>{{ quizname }}</H1>

<form action="/quiz" method="POST">
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">{{ list_questions[0] }}</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions1" id="quizOptions11" value="option1">
              <label class="form-check-label" for="quizOptions11">
                {{ list_options1[0] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions1" id="quizOptions12" value="option2">
              <label class="form-check-label" for="quizOptions12">
                {{ list_options1[1] }}
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="quizOptions1" id="quizOptions13" value="option3">
              <label class="form-check-label" for="quizOptions13">
                {{ list_options1[2] }}
              </label>
            </div>
          </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">{{ list_questions[1] }}</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions2" id="quizOptions21" value="option1">
              <label class="form-check-label" for="quizOptions21">
                {{ list_options2[0] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions2" id="quizOptions22" value="option2">
              <label class="form-check-label" for="quizOptions22">
                {{ list_options2[1] }}
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="quizOptions2" id="quizOptions23" value="option3">
              <label class="form-check-label" for="quizOptions23">
                {{ list_options2[2] }}
              </label>
            </div>
          </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">{{ list_questions[2] }}</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions3" id="quizOptions31" value="option1">
              <label class="form-check-label" for="quizOptions31">
                {{ list_options3[0] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions3" id="quizOptions32" value="option2">
              <label class="form-check-label" for="quizOptions32">
                {{ list_options3[1] }}
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="quizOptions3" id="quizOptions33" value="option3">
              <label class="form-check-label" for="quizOptions33">
                {{ list_options3[2] }}
              </label>
            </div>
          </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">{{ list_questions[3] }}</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions4" id="quizOptions41" value="option1">
              <label class="form-check-label" for="quizOptions41">
                {{ list_options4[0] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions4" id="quizOptions42" value="option2">
              <label class="form-check-label" for="quizOptions42">
                {{ list_options4[1] }}
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="quizOptions4" id="quizOptions43" value="option3">
              <label class="form-check-label" for="quizOptions43">
                {{ list_options4[2] }}
              </label>
            </div>
          </div>
        </div>
    </fieldset>
    <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">{{ list_questions[4] }}</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions5" id="quizOptions51" value="option1">
              <label class="form-check-label" for="quizOptions51">
                {{ list_options5[0] }}
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="quizOptions5" id="quizOptions52" value="option2">
              <label class="form-check-label" for="quizOptions52">
                {{ list_options5[1] }}
              </label>
            </div>
            <div class="form-check disabled">
              <input class="form-check-input" type="radio" name="quizOptions5" id="quizOptions53" value="option3">
              <label class="form-check-label" for="quizOptions53">
                {{ list_options5[2] }}
              </label>
            </div>
          </div>
        </div>
    </fieldset>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock %}