{% extends "layout.html" %}

{% block title %}Rating success{% endblock %}

{% block contentrow1col1 %}
<H1>Rating  successful</H1>

{{ message }}

<p><a class="btn btn-primary" href="/" role="button">Play more quizzes</a></p>
{% endblock %}

{% block contentrow1col2 %}
<h1>Leaderboard</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Correct answers</th>
      </tr>
    </thead>
    <tbody>
      {% for row in leaderboard %}
      <tr>
        <th scope="row">{{ row.rank }}</th>
        <td>{{ row.username }}</td>
        <td>{{ row.correct_answer_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<H1>Ratings</H1>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Quizname</th>
        <th scope="col">Mehs</th>
        <th scope="col">Nices</th>
        <th scope="col">Diamonds</th>
        <th scope="col">All ratings</th>
      </tr>
    </thead>
    <tbody>
      {% for row in ratings %}
      <tr>
        <td>{{ row.quiz_label }}</td>
        <td>{{ row.meh_count }}</td>
        <td>{{ row.nice_count }}</td>
        <td>{{ row.diamond_count }}</td>
        <td>{{ row.total_ratings_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}